{% extends 'base.html' %}
{% block content %}
<p>{{ post.description }}</p>
<p>Asked by {{ post.user.username }} on {{ post.created_at }}</p>
{% if post.user == user %}
<p><a href="{% url 'post_update' pk=post.id %}">Edit post</a></p>
<p><a href="{% url 'post_delete' pk=post.id %}">Delete post</a></p>
{% endif %}
{% if comments.count > 0 %}
<h3>{{ comments.count }} Comment {{ comments.count|pluralize }}:</h3>
{% endif %}
{% for comment in comments %}
<div class="panel">
  <p>{{ comment.text }}</p>
  {% if comment.user == user %}
  <p><a href="{% url 'comment_update' post_pk=post.id comment_pk=comment.id %}">Edit comment</a><p>
  <p><a href="{% url 'comment_delete' post_pk=post.id comment_pk=comment.id %}">Delete comment</a><p>
  {% endif %}
  <p>Commented by {{ comment.user.username }} on {{ comment.created_at }}</p>
</div>
{% endfor %}
<p><a href="{% url 'comment_create' pk=post.id %}">Write comment</></p>
{% endblock %}